@model IEnumerable<webscaffolder.Areas.School.Models.School>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
    td:nth-child(5n){text-align: right;}
    td:nth-child(9n){text-align: right;}
    td:nth-child(10n){text-align: right;}
    td:nth-child(11n){text-align: right;}
    td:nth-child(12n){text-align: right;}
</style>
<h2>Index</h2>
<h4>المدارس</h4>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.EductionOffice.EductionOfficeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender.GenderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level.LevelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolType.SchoolTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerAasistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Number })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EductionOffice.EductionOfficeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.GenderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level.LevelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolType.SchoolTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerAasistName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>

    </tr>
}

</table>
